* {
    margin: 0;
    /* padding: 0;*/
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*justify-content: space-evenly;
    align-items: center; */
    background-color: white;
    max-width: 1500px;
}

.logo {
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar-item {
    display: inline-block;
    margin: 0 25px;
    font-size: 16px;
}

#home {
    color: #0091E6;
}

.item-texto {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.item-texto:hover {
    color: #0091E6;
    transition: 0.3s all;
}

main {
    margin: 0 0 0 0;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0091E6;
}
.h2-section1 {
    font-size: 50px;
}

.h3-section1 {
    font-size: 24px;
}

.descriçao {
    font-size: 18px;
    font-weight: 500;
}

.botao {
    background-color: black;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.botao:hover {
    background-color: #2D2B2B;
    transition: 0.3s;
}

.cadastrar {
    color: white;
}

.MakingDeal {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.section2 {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.Lista-telas {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Lista-telas-item-tipo1 {
    display: inline-block;
}

.Lista-telas-item-tipo2 {
    display: inline-block;
    margin-left: 225px;
    margin-right: 225px;
}

.section3 {
    display: flex;
    background-color: #0091E6;

}

.Objetivo {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    border: 5px solid black;
    padding: 10px;
    border-radius: 20px;
}

.Objetivo-texto {
    padding: 3px;
    font-size: 18px;
    font-weight: 500;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}