* {
    margin: 0;
    /* padding: 0;*/
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*justify-content: space-evenly;
    align-items: center; */
    background-color: white;
    max-width: 1500px;
}

.logo {
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar-item {
    display: inline-block;
    margin: 0 25px;
    font-size: 16px;
}

.item-texto {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.item-texto:hover {
    color: #0091E6;
    transition: 0.3s all;
}

.aside {
    display: flex;
    flex-direction: column;
    background-color: #0091E6;
}

.h2-aside {
    font-size: 36px;
    margin-top: 30px;
    margin-left: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 70px;
    margin-bottom: 33px;
}

.input{
    margin-top: 20px;
    height: 20px;
    padding: 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

.botao {
    margin-top: 20px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    width: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.botao:hover {
    cursor: pointer;
    background-color: #2D2B2B;
    transition: 0.3s;
}

.enviar {
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}